body 
    height: 100%
    width: 100%
    margin: 0
    padding: 0
    font-family: 'Krona One', sans-serif

.filtres
    position absolute 

    &__1
        transform translateY(5em)

    &__2
        transform translateY(10em)

    &__3
        transform translateY(15em)

    &__4
        transform translateY(20em)

    &__5
        transform translateY(25em)

    &__6
        transform translateY(30em)

    &__7
        transform translateY(35em)

    &__8
        transform translateY(40em)
#choix_jointures
    position absolute

#validation
    position absolute