body 
    height: 100%
    width: 100%
    margin: 0
    padding: 0
    font-family: 'Krona One', sans-serif

.filtres
    position: absolute
    transform translateY(5em)

#choix_jointures
    position absolute